{% extends 'base_foot.html' %}
{% block head %}
   <script type="text/javascript" src="/static/js/login1.js"></script>
{% endblock head %}
{% block body %}
    <div class="login_top clearfix">
        <a href="{% url 'df_user:login' %}"> <img src="/static/images/logo02.png"> </a>
    </div>
    <div class="login_form_bg">
        <div class="login_banner" ></div>
        <div class="glogan fl">日夜兼程 × 急速送达</div>
        <div class="login_form fr">
            <div class="login_title clearfix">
                <h1> 用户登录 </h1> <a href={% url 'df_user:register' %}> 立即注册 </a>
            </div>
            <form class="login_input clearfix" method="post" action="{% url 'df_user:login_handle' %}">
                {% csrf_token %}
                <ul>
                    <li>
                        <input class="name_input" name="username" id="username" placeholder="请输入用户名" style="cursor: auto;" type="text">
                        <span class="error_tip"> 提示信息 </span>
                    </li>
                    <li>
                        <input class="password_input" name="password" id="password" placeholder="请输入密码" type="password">
                        <span class="error_tip2"> 密码提示信息 </span>
                    </li>
                    <li class="more_input">
                        <input type="checkbox">
                        <label> 记住用户名 </label>
                        <a href="{% url 'df_user:find_password' %}"> 忘记密码? </a>
                    </li>
                    <li>
                        <button class="input_submit" id="submit" type="submit" value="submit">登录</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock body %}




