{% extends 'base_foot.html' %}
{% block body %}
    <div class="header_con">
        <div class="welcome fl">欢迎来到天天生鲜！</div>
        <div class="tips fr"> 欢迎：{{ user_name }}
            <span> | </span>
            <a href="login.html">登录</a>
             <span> | </span>
            <a href="#">注册</a>
             <span> | </span>
            <a href="#">用户中心</a>
             <span> | </span>
            <a href="#">购物车</a>
             <span> | </span>
            <a href="#">我的订单</a>
        </div>
    </div>
    <div class="seach_bar"></div>
    <div class="main_con"></div>
{% endblock body %}
